{% extends 'main/layout.html' %}

{% block content %}
<div class="container">

    <div class="sidebar">
        <h3>Комплектующие</h3>
        <ul>
            <li><a href="#">Материнская плата</a></li>
            <li><a href="#">Процессор</a></li>
            <li><a href="#">Оперативная память</a></li>
            <li><a href="#">Блок питания</a></li>
            <li><a href="#">Охлаждение</a></li>
            <li><a href="#">Корпус</a></li>
            <li><a href="#">Видео-карта</a></li>
            <li><a href="#">Жесткий диск</a></li>
            <li><a href="#">SSD</a></li>
            <li><a href="#">Оптический привод</a></li>
            <li><a href="#">Беспроводная связь</a></li>
            <li><a href="#">Операционная система</a></li>
        </ul>
    </div>

    <div class="mainContent">
        <h1>Content</h1>
    </div>

    <div class="rightContent">
        <button class="standartButton">Оценка производительности</button>
        <div class="performanceBlock"></div>
        <div class="devider"></div>
        <button class="standartButton">Сайт партнеров</button>
        <button class="standartButton">Сайт партнеров</button>
    </div>
</div>
{% endblock %}