{% extends 'main/layout.html' %}

{% block content %}
<div class="container">

    <div class="sidebar">
        <h3>Комплектующие</h3>
        <ul>
            <li><a href="{% url 'motherbroad_list' %}">Материнская плата</a></li>
            <li><a href="{% url 'processor_list' %}">Процессор</a></li>
            <li><a href="{% url 'ram_list' %}">Оперативная память</a></li>
            <li><a href="{% url 'powerUnit_list' %}">Блок питания</a></li>
            <li><a href="{% url 'cooler_list' %}">Охлаждение</a></li>
            <li><a href="{% url 'corpus_list' %}">Корпус</a></li>
            <li><a href="{% url 'videoCard_list' %}">Видео-карта</a></li>
            <li><a href="{% url 'hdd_list' %}">Жесткий диск</a></li>
            <li><a href="{% url 'ssd_list' %}">SSD</a></li>
        </ul>
    </div>



    <div class="mainContent" id="mainContent">
        {% block constructor_content %}

        <h1>Добро пожаловать!</h1>
        <p>Выберите компонент из боковой панели.</p>
                <p>URL процессора: {% url 'processor_list' %}</p>
        <p>URL оперативной памяти: {% url 'ram_list' %}</p>

        {% endblock constructor_content %}
    </div>



    <div class="rightContent">
        <button class="standartButton">Оценка производительности</button>
        <div class="performanceBlock"></div>
        <div class="devider"></div>
        <button class="standartButton">Сайт партнеров</button>
        <button class="standartButton">Сайт партнеров</button>
    </div>
</div>

{% endblock content %}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.component-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Предотвращаем переход по ссылке
                const url = this.getAttribute('data-url');
                console.log('Fetching URL:', url); // Для отладки

                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Сеть не в порядке: ' + response.statusText);
                        }
                        return response.text();
                    })
                    .then(data => {
                        document.getElementById('mainContent').innerHTML = data;
                    })
                    .catch(error => console.error('Ошибка:', error));
            });
        });
    });
</script>

{% endblock script %}