<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'assembling' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'assembling' %}"><h6>Конструктор PC</h6></a>
            <a class="nav-item nav-link" href="{% url 'popular' %}"><h6>Популярные сборки</h6></a>
            <a class="nav-item nav-link" href="{% url 'instruction' %}"><h6>Инструкция по сборке</h6></a>
            <div class="regButton ml-auto">
                {% if user.is_authenticated %}
                <span class="usernameSpan">{{ user.username }}</span>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logoutBtn">Log out</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="login">Вход</a> |
                <a href="{% url 'register' %}" class="registration">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>