<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'assembling' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'assembling' %}"><h6>Конструктор PC</h6></a>
            <a class="nav-item nav-link" href="{% url 'popular' %}"><h6>Популярные сборки</h6></a>
            <a class="nav-item nav-link" href="{% url 'instruction' %}"><h6>Инструкция по сборке</h6></a>
            <div class="regButton ml-auto">
                <a class="nav-item nav-link" href=""><h6>Регистрация</h6></a>
                <button id="show-login">Вход</button>
            </div>
        </div>
    </div>
</nav>