<div class="signIn">
    <div class="closeBtn">&times;</div>
    <div class="form">
        <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h2>Вход</h2>
        <div class="formElement">
            <label for="login">Почта</label>
            <input type="text" id="login" name="login" placeholder="login">
        </div>
        <div class="formElement">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Пароль">
        </div>

        <div class="formElement">
            <button class="signInBtn" type="submit">Вход</button>
        </div>
        <div class="formElement">
            <a class="forgotPassword" href="#">Забыли пароль</a>
        </div>
        </form>
    </div>
</div>