<div class="signUp">
    <div class="closeBtn">&times;</div>
    <div class="formReg">
        <h2>Регистрация</h2>
        <div class="formRegElement">
            <input type="text" id="emailReg" placeholder="example@gmail.com">
        </div>
        <div class="formRegElement">
            <input type="text" id="passwordReg" placeholder="Пароль">
        </div>
        <div class="formRegElement">
            <input type="text" id="passwordRegRepeat" placeholder="Повторите пароль">
        </div>
        <div class="formRegElement">
            <button class="signUpBtn">Регистрация</button>
        </div>
    </div>
</div>l>