*{
    margin: 0;
    padding: 0;
}

body {
    background: #13131B;
}

.container{
    display: flex;
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}

.navbar{
    background: linear-gradient(to bottom, #000000, #0b0b12, #000000);
}

.nav-link{
    margin-right: 30px;
}

.navbar-nav {
    display: flex;
    flex-grow: 1;
}

.regButton{
    right: 0;
    display: flex;
    margin-left: auto;
}

h6{
    margin-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: #A1A1FF;
}

.sidebar{
    height: 100%;
    width: 300px;
    position: absolute:
    background-color: #fff;
    transition: 0.5s ease;
    border-radius: 20px;
}

h3{
    margin-left: 20px;
    color: #A1A1FF;
    font-weight: 800;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
    text-shadow: 0px 0px 10px rgba(161, 161, 255, 0.5)
}

ul li{
    list-style: none;
    width: 90%;
    border: 3px solid #A1A1FF;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 5px rgba(161, 161, 255, 0.5), inset 0px 0px 5px 5px rgba(161, 161, 255, 0.5);
}

ul li:hover{
    box-shadow: 0px 0px 5px 5px rgba(161, 161, 255, 0.5), inset 0px 0px 5px 10px rgba(161, 161, 255, 0.5);
    transition: 0.4s ease;
}

ul li a {
  margin-left: 50px;
  color: #A1A1FF;
  font-weight: 500;
  padding: 20px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  pointer-events: none;
}

ul li a i{
    width: 40px;
    text-align: center;
}

.mainContent{
    background-color: #1F1F21;
    flex-grow: 1;
}

.rightContent{
    background-color: #13131B;
    height: 105%;
    position: absolute;
    right: 0;
    width: 30%;
    border-radius: 20px;
}

.standartButton{
    width: 300px;
    height: 70px;
    margin-left: 70px;
    margin-top: 30px;
    background-color: #13131B;
    color: #A1A1FF;
    border: 3px solid #A1A1FF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(161, 161, 255, 0.5), inset 0px 0px 5px 5px rgba(161, 161, 255, 0.5);
}

.standartButton:hover{
    box-shadow: 0px 0px 5px 5px rgba(161, 161, 255, 0.5), inset 0px 0px 5px 10px rgba(161, 161, 255, 0.5);
    transition: 0.4s ease;
}

.performanceBlock{
    height: 400px;
}

.devider{
    background-color: #fff;
    height: 2px;
    width: 85%;
    margin-left: 35px;
}

.show-login{
    background-color: #A1A1FF;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}

.show-login:hover{
    background-color: #13131B;
    color: #A1A1FF;
    transition: 0.4s ease;
}

.show-reg{
    background-color: #13131B;
    color: #A1A1FF;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    margin-right: 7px;
    border: 3px solid #A1A1FF;
    border-radius: 10px;
}

.show-reg:hover{
    background-color: #bcbcf7;
    color: #13131B;
    transition: 0.4s ease;
}

.signIn{
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width% 400px;
    padding: 20px 30px;
    background: #13131B;
    border: 3px solid #bcbcf7;
    border-radius: 10%;
    box-shadow: 0px 0px 5px 5px rgba(161, 161, 255, 0.5);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.signIn.activate{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.signIn .closeBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
}

.signIn .form h2{
    text-align: center;
    color: #bcbcf7;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.signIn .form .formElement{
    margin: 15px 0px;
}

.signIn .form .formElement label{
    font-size: 14px;
    color: #bcbcf7;
}

.formElement button{
    width: 300px;
    height: 40px;
    background-color: #13131B;
    margin-right: 50px;
    color: #fff;
    border: 3px solid #A1A1FF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(161, 161, 255, 0.5), inset 0px 0px 5px 5px rgba(161, 161, 255, 0.5);
}

.signIn .form .formElement input[type="text"],
.signIn .form .formElement input[type="password"] {
    margin-top: 5px;
    background-color: #bcbcf7;
    width: 100%;
    display: block;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.forgotPassword {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.forgotPassword:hover {
    color: darkblue;
}

.signUp{
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    height: 500px;
    padding: 20px 30px;
    background: #13131B;
    border: 3px solid #bcbcf7;
    border-radius: 8%;
    box-shadow: 0px 0px 5px 5px rgba(161, 161, 255, 0.5);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.signUp.activate{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.signUp .closeBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
}

.signUp .formReg h2{
    text-align: center;
    color: #bcbcf7;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.signUp .formReg .formRegElement{
    margin: 15px 0px;
}

.signUp .formReg .formRegElement label{
    font-size: 14px;
    color: #bcbcf7;
}

.formRegElement button{
    width: 300px;
    height: 40px;
    background-color: #13131B;
    margin-left: 15px;
    margin-top: 40px;
    color: #fff;
    border: 3px solid #A1A1FF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(161, 161, 255, 0.5), inset 0px 0px 5px 5px rgba(161, 161, 255, 0.5);
}

.signUp .formReg .formRegElement input[type="text"],
.signUp .formReg .formRegElement input[type="password"] {
    margin-top: 5px;
    background-color: #bcbcf7;
    width: 100%;
    display: block;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.registration{
    margin: 10px;
    margin-left: 2px;
    padding: 5px;
    color: #bcbcf7;
    border: 3px solid #bcbcf7;
    border-radius: 15px;
    font-size: 14px;
}

.login{
    margin: 10px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 2px;
    background-color: #bcbcf7;
    color: #000;
    border: 3px solid #bcbcf7;
    border-radius: 15px;
    font-size: 14px;
}

.registration:hover{
    background-color: #bcbcf7;
    color: #000;
    transition: 0.6s ease;
    text-decoration: none;
}

.login:hover{
    color: #bcbcf7;
    border: 3px solid #bcbcf7;
    background-color: #000;
    transition: 0.6s ease;
    text-decoration: none;
}

.logoutBtn{
    margin: 10px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 2px;
    background-color: #bcbcf7;
    color: #000;
    border: 3px solid #bcbcf7;
    border-radius: 15px;
    font-size: 14px;
}

.logoutBtn:hover{
    color: #bcbcf7;
    border: 3px solid #bcbcf7;
    background-color: #000;
    transition: 0.6s ease;
    text-decoration: none;
}

.usernameSpan{
    color: #bcbcf7;
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
}